* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #262626;
    /* no scroll when control is unactive */
    overflow: hidden;
}

.webgl {
    position: fixed;
    top:0;
    left:0;
    outline: none;
    z-index: 0;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100vh;
}

.video {
    position: relative;
    object-fit: contain;
    height: 100%;
    width: 100%;

}

.listContainer {
    display: flex;
    justify-content: center;
    margin: 10px;    
}

/* .yearMonthContainer {
    display: flex;
    align-items: center;
} */

.yearContainer,
.monthContainer {
    margin: 1px;
}

.buttonContainer {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

#randomButton,
#previousButton,
#nextButton {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
    /* border-radius: 10px; */
    /* background-color: #262626; */
    /* color: white; */
    /* font-size: 20px; */
    /* font-weight: bold; */
    /* border: none; */
    /* cursor: pointer; */
}



@media (max-width: 730px) {
    /* Styles for smaller window width */
    .video {
        object-fit: contain;
    }
}

@media (min-width: 768px) {
    /* Styles for desktop version */
    .video {
        width: 800px; /* Set the desired width for desktop */
        height: 450px; /* Set the desired height for desktop */
    }
}

@media (max-width: 767px) {
    /* Styles for phone version */
    .video {
        width: 90%; /* Set the width to 100% for phone */
        height: 50%; /* Allow the height to adjust automatically for phone */
    }
}



